@{
    ViewData["Title"] = "Motorista";   
}


<div class="container">
    <div class="row">
        <div class="container mt-5">
            <h2>INDEX MOTORISTA.</h2>
        </div>
    </div>
</div>