@{
    ViewData["Title"] = "Home Page";
}



<div class="text-center">
    <h1 class="display-4">Seja bem vindo!</h1>
    
    <br/>
    <p>O nosso sistema inovador permite o gerenciamento eficiente e digital do boletim de transporte, proporcionando facilidade e agilidade tanto para os motoristas quanto para os administradores.</p>

    <div class="features">
        <h3 class="display-4">Aplicativo para Motoristas</h3>
        <p>Os motoristas têm acesso a um aplicativo móvel intuitivo, onde podem preencher digitalmente os boletins de transporte, registrando informações sobre viagens, veículos e horários.</p>

        <h3 class="display-4">Portal Web para Administradores</h3>
        <p>Os administradores contam com um portal web robusto para gerenciar e monitorar as atividades. Através do portal, é possível visualizar relatórios detalhados sobre motoristas, carros, rotas e horários.</p>

        <h3 class="display-4">Relatórios Detalhados</h3>
        <p>O sistema gera relatórios detalhados que proporcionam insights valiosos sobre os motoristas, a eficiência dos veículos e manutenção, e a pontualidade nas rotas. Esses relatórios ajudam sem ter gasto com papel, tudo de forma digital e rápido.</p>
    </div>
</div>



