@{
    ViewData["Title"] = "Dashboard";
}

<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>

<style>
    .chart-container {
        border-radius: 8px;
        overflow: hidden;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Adiciona sombra */
    }

    .piechart-container{
        border-radius: 8px;
        overflow: hidden;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Adiciona sombra */
    }

</style>

<div class="container">
    <div class="row">
        <div class="col-3">
            <div class="piechart-container">
                <div id="piechart_cadastros"></div> @* feito *@
            </div>
        </div>

        <div class="col-3">
            <div class="piechart-container">
                <div id="piechart_Carros"></div>
            </div>
        </div>

        <div class="col-3">
            <div class="piechart-container">
                <div id="piechart_uso_motorista"></div>
            </div>
        </div>
    </div>
</div>

<br />

<div class="container">
    <div class="row">
        <div class="col-12">
            <div class="chart-container">
                <div id="chart_div"></div> @* feito *@
            </div>
        </div>
    </div>
</div>





<script type="text/javascript"> @*Pizza Cadastro de carros e motorista*@
    google.charts.load("current", { packages: ["corechart"] });
    google.charts.setOnLoadCallback(CarregaDadosCadastro);

    function CarregaDadosCadastro() {
        $.ajax({
            url: '@Url.Action("CadastrosV_M", "Home")',
            dataType: "json",
            type: "GET",
            error: function (xhr, status, error) {
                var err = eval("(" + xhr.responseText + ")");
                toastr.error(err.message);
            },
            success: function (data) {
                DadosCadastro(data);
                return false;
            }
        });
        return false;
    }

    function DadosCadastro(data) {

        var dataArray = [
            ['Tipo', 'Total']
        ];
        var TotalMotorista = data[0].totalMotorista;
        var TotalVeiculos = data[0].totalVeiculos;

        
        dataArray.push(['Veículos', TotalVeiculos]);
        dataArray.push(['Motoristas', TotalMotorista]);

        var chartData = google.visualization.arrayToDataTable(dataArray);

        var options = {
            legend: 'none',
            pieSliceText: 'label',
            title: 'Cadastros Total em %',
            pieStartAngle: 100,
        };
   
        var chart = new google.visualization.PieChart(document.getElementById('piechart_cadastros'));
        chart.draw(chartData, options);
    }
</script>

<script type="text/javascript"> @*Pizza Uso do carro*@
        google.charts.load("current", { packages: ["corechart"] });
        google.charts.setOnLoadCallback(CarregaDadosVeiculosEmUso);

    function CarregaDadosVeiculosEmUso() {
        $.ajax({
            url: '@Url.Action("VeiculosEmUso", "Home")',
            dataType: "json",
            type: "GET",
            error: function (xhr, status, error) {
                var err = eval("(" + xhr.responseText + ")");
                toastr.error(err.message);
            },
            success: function (data) {
                DadosVeiculosUso(data);
                return false;
            }
        });
        return false;
    }

    function DadosVeiculosUso(data) {

        var dataArray = [
            ['Tipo', 'Total']
        ];
        var VeiculoEmCorrida = data[0].veiculoEmCorrida;
        var VeiculoLivre = data[0].veiculoLivre;

        console.log("VeiculoEmCorrida:", VeiculoEmCorrida);
        console.log("VeiculoLivre:", VeiculoLivre);

        dataArray.push(['Em Corrida', VeiculoEmCorrida]);
        dataArray.push(['Livres', VeiculoLivre]);

        var chartData = google.visualization.arrayToDataTable(dataArray);

        var options = {
            legend: 'none',
            pieSliceText: 'label',
            title: 'Veículos em uso %',
            pieStartAngle: 100,
        };

        var chart = new google.visualization.PieChart(document.getElementById('piechart_Carros'));
        chart.draw(chartData, options);
    }
</script>

<script type="text/javascript"> @*Pizza motorista ocupados*@
        google.charts.load("current", { packages: ["corechart"] });
    google.charts.setOnLoadCallback(CarregaDadosMotoristasEmCorrida);

    function CarregaDadosMotoristasEmCorrida() {
        $.ajax({
            url: '@Url.Action("MotoristaDisponivel", "Home")',
            dataType: "json",
            type: "GET",
            error: function (xhr, status, error) {
                var err = eval("(" + xhr.responseText + ")");
                toastr.error(err.message);
            },
            success: function (data) {
                DadosMotorista(data);
                return false;
            }
        });
        return false;
    }

    function DadosMotorista(data) {

        var dataArray = [
            ['Tipo', 'Total']
        ];
        var EmCorrida = data[0].emCorrida;
        var Livre = data[0].livre;


        dataArray.push(['Em Corrida', EmCorrida]);
        dataArray.push(['Livres', Livre]);

        var chartData = google.visualization.arrayToDataTable(dataArray);

        var options = {
            legend: 'none',
            pieSliceText: 'label',
            title: 'Motorista em uso %',
            pieStartAngle: 100,
        };

        var chart = new google.visualization.PieChart(document.getElementById('piechart_uso_motorista'));
        chart.draw(chartData, options);
    }
</script>

<script type="text/javascript">
    @*grafico de barras veiculos, corridas e manutenções*@
        google.charts.load('current', { packages: ['corechart', 'bar'] });
        google.charts.setOnLoadCallback(CarregaDados);

    function CarregaDados() {
        $.ajax({
            url: '@Url.Action("CorridasVeiculos", "Home")',
            data: { dias: 360 },
            dataType: "json",
            type: "GET",
            error: function (xhr, status, error) {
                var err = eval("(" + xhr.responseText + ")");
                toastr.error(err.message);
            },
            success: function (data) {
                DadosVeiculos(data);
                return false;
            }
        });
        return false;
    }

    function DadosVeiculos(data) {
        var dataArray = [
            ['Veículo', 'Corridas', 'Manutenções']
        ];

        var nomesVeiculos = [];

        $.each(data, function (i, item) {
            dataArray.push([item.veiculoNome, item.totalCorridas, item.totalManutencao]);
            nomesVeiculos.push(item.veiculoNome);
        });

        var data = google.visualization.arrayToDataTable(dataArray);

        var options = {
            title: 'Corridas - Corridas nos últimos 360 dias',
            chartArea: {
                width: '70%'
            },
            colors: ['#0000FF', '#FF0000'],
            hAxis: {
                title: 'Veículo',
                titleTextStyle: {
                    fontSize: 16, // Tamanho da fonte do título do eixo x
                    bold: true, // Negrito
                    italic: false // Itálico
                },
                textStyle: {
                    fontSize: 14 // Tamanho da fonte dos rótulos do eixo x
                },
                ticks: nomesVeiculos
            },
            vAxis: {
                title: 'Veículos',
                titleTextStyle: {
                    fontSize: 16, // Tamanho da fonte do título do eixo y
                    bold: true, // Negrito
                    italic: false // Itálico
                },
                textStyle: {
                    fontSize: 14 // Tamanho da fonte dos rótulos do eixo y
                }
            },
            titleTextStyle: {
                fontSize: 20, // Tamanho da fonte do título do gráfico
                bold: true, // Negrito
                italic: false // Itálico
            }
        };

        var chart = new google.visualization.BarChart(document.getElementById('chart_div'));
        chart.draw(data, options);

        google.visualization.events.addListener(chart, 'ready', function () {
            // Obtém os elementos SVG do gráfico
            var svg = document.querySelector('#chart_div svg');
            if (svg) {
                // Obtém todos os retângulos dentro do SVG
                var rects = svg.querySelectorAll('rect');
                // Aplica o raio de borda aos retângulos
                rects.forEach(function (rect) {
                    rect.setAttribute('rx', '5');
                    rect.setAttribute('ry', '5');
                });
            }
        });

        // Redesenhe o gráfico sempre que a janela for redimensionada
        $(window).on('resize', function () {
            chart.draw(data, options);
        });
    }
</script>

   

                @* colors: ['#0000FF', '#FF0000'], cores vermelho e azul *@