@{
    ViewData["Title"] = "Dashboard";
}

<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>

<style>
    .chart-container {
        border-radius: 8px;
        overflow: hidden;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4); /* Adiciona sombra */
    }

    .piechart-container{
        border-radius: 8px;
        overflow: hidden;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4); /* Adiciona sombra */
    }

    .custom-margin {
        margin: 5px;
    }

</style>

 
<div class="text-center">
    <br />
    <h1 class="display-3">Seja bem-vindo!</h1>
    <br />
</div>

<div class="text-center">
    <div class="texto">
        <br />
        <p class="display-6">Situação da sua frota </p>
    </div>
</div>



<div class="container">
    <div class="row">
        <div class="col-lg-4 col-md-6 col-sm-12 custom-margin">
            <div class="piechart-container">
                <div id="piechart_cadastros"></div> @* feito *@
            </div>
        </div>
        
        <div class="col-lg-4 col-md-6 col-sm-12 custom-margin">
            <div class="piechart-container">
                <div id="piechart_carros"></div>
            </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-12 custom-margin">
            <div class="piechart-container">
                <div id="piechart_uso_motorista"></div>
            </div>
        </div>
    </div>
</div>

<div class="text-center">
    <br />
    <div class="texto">
        <br />
        <p class="display-6">Corridas e suas manutenções </p>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-12 custom-margin">
            <div class="chart-container">
                <div id="chart_div"></div> @* feito *@
            </div>
        </div>
    </div>
</div>

<script type="text/javascript"> @*Pizza Cadastro de carros e motorista*@
    google.charts.load("current", { packages: ["corechart"] });
    google.charts.setOnLoadCallback(CarregaDadosCadastro);

    function CarregaDadosCadastro() {
        $.ajax({
            url: '@Url.Action("CadastrosV_M", "Home")',
            dataType: "json",
            type: "GET",
            error: function (xhr, status, error) {
                var err = eval("(" + xhr.responseText + ")");
                toastr.error(err.message);
            },
            success: function (data) {
                DadosCadastro(data);
                return false;
            }
        });
        return false;
    }

    function DadosCadastro(data) {
        console.log(data); // Adicione esta linha
        var dataArray = [
            ['Tipo', 'Total']
        ];
        var TotalMotorista = data[0].totalMotorista;
        var TotalVeiculos = data[0].totalVeiculos;

        
        dataArray.push(['Veículos', TotalVeiculos]);
        dataArray.push(['Motoristas', TotalMotorista]);

        var data = google.visualization.arrayToDataTable(dataArray);

        var options = {
            
            pieSliceText: 'label',
            title: 'Cadastros Total em %',
            titleTextStyle: {
                fontSize: 16, // Tamanho da fonte do título do eixo x
                bold: true, // Negrito
                italic: false // Itálico
            },
            textStyle: {
                fontSize: 14 // Tamanho da fonte dos rótulos do eixo x
            },         
            pieStartAngle: 100,
            colors: ['#A0522D', '#D2B48C'], // Adicionei as cores aqui
           
        };
   
        var chart = new google.visualization.PieChart(document.getElementById('piechart_cadastros'));
        chart.draw(data, options);
    }
</script>



<script type="text/javascript">
    // Pizza motorista ocupados
    google.charts.load("current", { packages: ["corechart"] });
    google.charts.setOnLoadCallback(CarregaDadosMotoristasEmCorrida);

    function CarregaDadosMotoristasEmCorrida() {
        $.ajax({
            url: '@Url.Action("MotoristaDisponivel", "Home")',
            dataType: "json",
            type: "GET",
            error: function (xhr, status, error) {
                var err = eval("(" + xhr.responseText + ")");
                toastr.error(err.message);
            },
            success: function (data) {
                DadosMotorista(data);
                return false;
            }
        });
        return false;
    }

    function DadosMotorista(data) {
        console.log(data); // Adicione esta linha

        var dataArray = [
            ['Tipo', 'Total']
        ];
        var EmCorrida = data[0].emCorrida;
        var Livre = data[0].livre;


        dataArray.push(['Em Corrida', EmCorrida]);
        dataArray.push(['Livres', Livre]);

        var data = google.visualization.arrayToDataTable(dataArray);

        var options = {
            
            pieSliceText: 'label',
            title: 'Motorista em Corridas %',
            titleTextStyle: {
                fontSize: 16, // Tamanho da fonte do título do eixo x
                bold: true, // Negrito
                italic: false // Itálico
            },
            textStyle: {
                fontSize: 14 // Tamanho da fonte dos rótulos do eixo x
            },
            pieStartAngle: 100,
            colors: ['#A0522D', '#D2B48C'], // Adicionei as cores aqui
        };

        var chart = new google.visualization.PieChart(document.getElementById('piechart_uso_motorista'));
        chart.draw(data, options);
    }
</script>

<script type="text/javascript">
    // Pizza carros ocupados
    google.charts.load("current", { packages: ["corechart"] });
    google.charts.setOnLoadCallback(CarregaDadosVeículosEmCorrida);

    function CarregaDadosVeículosEmCorrida() {
        $.ajax({
            url: '@Url.Action("CarroDisponivelstatus", "Home")',
            dataType: "json",
            type: "GET",
            error: function (xhr, status, error) {
                var err = eval("(" + xhr.responseText + ")");
                toastr.error(err.message);
            },
            success: function (data) {
                DadosVeiculoDis(data);
                return false;
            }
        });
        return false;
    }

    function DadosVeiculoDis(data) {
        console.log(data); // ver dados estão corretos

        // Verifique se há dados na matriz recebida
        if (data && data.length > 0) {
            // Acessando os dados do primeiro elemento (índice 0) do array
            var primeiroElemento = data[0];

            // Acessando os valores específicos dentro do primeiro elemento
            var veiculosEmUso = primeiroElemento.veiculoEmUso; // ou primeiroElemento.emCorrida, dependendo da estrutura real dos dados
            var veiculosLivre = primeiroElemento.veiculoLivre; // ou primeiroElemento.livre, dependendo da estrutura real dos dados

            // Criando os dados para o gráfico
            var dataArray = [
                ['Tipo', 'Total']
            ];
            dataArray.push(['Em Viagem', veiculosEmUso]);
            dataArray.push(['Estacionado', veiculosLivre]);

            // Criando o DataTable para o gráfico
            var data = google.visualization.arrayToDataTable(dataArray);

            // Definindo as opções do gráfico
            var options = {
               
                pieSliceText: 'label',
                title: 'Veículos em Corridas %',
                titleTextStyle: {
                    fontSize: 16, // Tamanho da fonte do título do eixo x
                    bold: true, // Negrito
                    italic: false // Itálico
                },
                textStyle: {
                    fontSize: 14 // Tamanho da fonte dos rótulos do eixo x
                },
                pieStartAngle: 100,
                colors: ['#A0522D', '#D2B48C'], // Adicionei as cores aqui
            };

            // Desenhando o gráfico
            var chart = new google.visualization.PieChart(document.getElementById('piechart_carros'));
            chart.draw(data, options);
        } else {
            // Caso não haja dados recebidos
            console.log("Nenhum dado recebido do servidor");
        }
    }
</script>

<script type="text/javascript">
    // Grafico de barras veiculos, corridas e manutenções
    google.charts.load('current', { packages: ['corechart', 'bar'] });
    google.charts.setOnLoadCallback(CarregaDados);

    function CarregaDados() {
        $.ajax({
            url: '@Url.Action("CorridasVeiculos", "Home")',
            data: { dias: 360 },
            dataType: "json",
            type: "GET",
            error: function (xhr, status, error) {
                var err = eval("(" + xhr.responseText + ")");
                toastr.error(err.message);
            },
            success: function (data) {
                DadosVeiculos(data);
                return false;
            }
        });
        return false;
    }

    function DadosVeiculos(data) {
        // Verifique se há dados na matriz recebida
        if (data && data.length > 0) {
            // Se houver dados, prossiga com o processamento normal
            var dataArray = [
                ['Veículo', 'Corridas', 'Manutenções']
            ];

            var nomesVeiculos = [];

            $.each(data, function (i, item) {
                dataArray.push([item.veiculoNome, item.totalCorridas, item.totalManutencao]);
                nomesVeiculos.push(item.veiculoNome);
            });

            var data = google.visualization.arrayToDataTable(dataArray);

            var options = {
                title: 'Corridas - Corridas nos últimos 360 dias',
                chartArea: {
                    width: '70%'
                },
                colors: ['#A0522D', '#D2B48C'], // Adicionei as cores aqui
                hAxis: {
                    title: 'Corridas/Manutenções',
                    titleTextStyle: {
                        fontSize: 16, // Tamanho da fonte do título do eixo x
                        bold: true, // Negrito
                        italic: false // Itálico
                    },
                    textStyle: {
                        fontSize: 14 // Tamanho da fonte dos rótulos do eixo x
                    },
                    ticks: nomesVeiculos
                },
                vAxis: {
                    title: 'Veículos',
                    titleTextStyle: {
                        fontSize: 16, // Tamanho da fonte do título do eixo y
                        bold: true, // Negrito
                        italic: false // Itálico
                    },
                    textStyle: {
                        fontSize: 14 // Tamanho da fonte dos rótulos do eixo y
                    }
                },
                titleTextStyle: {
                    fontSize: 20, // Tamanho da fonte do título do gráfico
                    bold: true, // Negrito
                    italic: false // Itálico
                }
            };

            var chart = new google.visualization.BarChart(document.getElementById('chart_div'));
            chart.draw(data, options);
        } else {
            // Se não houver dados, desenhe um gráfico vazio com a legenda "Sem dados para mostrar"
            var data = google.visualization.arrayToDataTable([
                ['Veículo', 'Corridas', 'Manutenções'],
                ['Sem dados', 0, 0] // Dados fictícios para mostrar a legenda "Sem dados para mostrar"
            ]);

            var options = {
                title: 'Corridas - Corridas nos últimos 360 dias',
                chartArea: {
                    width: '70%'
                },
                colors: ['#A0522D', '#D2B48C'], // Adicionei as cores aqui
                hAxis: {
                    title: 'Corridas/Manutenções',
                    titleTextStyle: {
                        fontSize: 16, // Tamanho da fonte do título do eixo x
                        bold: true, // Negrito
                        italic: false // Itálico
                    },
                    textStyle: {
                        fontSize: 14 // Tamanho da fonte dos rótulos do eixo x
                    },
                    ticks: ['Sem dados']
                },
                vAxis: {
                    title: 'Veículos',
                    titleTextStyle: {
                        fontSize: 16, // Tamanho da fonte do título do eixo y
                        bold: true, // Negrito
                        italic: false // Itálico
                    },
                    textStyle: {
                        fontSize: 14 // Tamanho da fonte dos rótulos do eixo y
                    }
                },
                titleTextStyle: {
                    fontSize: 20, // Tamanho da fonte do título do gráfico
                    bold: true, // Negrito
                    italic: false // Itálico
                }
            };

            var chart = new google.visualization.BarChart(document.getElementById('chart_div'));
            chart.draw(data, options);
        }
    }

</script>

<script type="text/javascript">
    // Função para carregar os dados de cadastros a cada 5 segundos
    function atualizarDadosCadastros() {
        CarregaDadosCadastro();
        setTimeout(atualizarDadosCadastros, 5000); // Chama esta função novamente após 5 segundos
    }

    // Função para carregar os dados dos motoristas a cada 5 segundos
    function atualizarDadosMotoristas() {
        CarregaDadosMotoristasEmCorrida();
        setTimeout(atualizarDadosMotoristas, 5000); // Chama esta função novamente após 5 segundos
    }

    // Função para carregar os dados dos veículos a cada 5 segundos
    function atualizarDadosVeiculos() {
        CarregaDadosVeículosEmCorrida();
        setTimeout(atualizarDadosVeiculos, 5000); // Chama esta função novamente após 5 segundos
    }

    // Função para carregar os dados dos gráficos de barras a cada 5 segundos
    function atualizarDadosBarras() {
        CarregaDados();
        setTimeout(atualizarDadosBarras, 5000); // Chama esta função novamente após 5 segundos
    }

    // Inicia o carregamento automático dos dados
    $(document).ready(function () {
        atualizarDadosCadastros();
        atualizarDadosMotoristas();
        atualizarDadosVeiculos();
        atualizarDadosBarras();
    });
</script>



   

                @* colors: ['#0000FF', '#FF0000'], cores vermelho e azul *@