@{
    ViewData["Title"] = "Motorista";   
}


<style>
    .conteudo {
        text-align: center;
    }
</style>

<div class="text-center">
    <br />
    <h1 class="display-3">Bem vindo Motorista</h1>
    <br />
</div>


<div class="text-center">
    <div class="texto">
        <br />
        <p class="display-6">Funcionalidades:  </p>
    </div>
</div>


<div class="conteudo">
    <div class="texto">
        <p class="destaque">Cadastre suas corridas:</p>
        <p class="subtitulo">Cadastre suas corridas com praticidade e precisão, utilizando soluções digitais. Diga adeus ao papel e caneta, e tenha todas as informações na ponta dos seus dedos. </p>
    </div>
    <div class="imagem-container">
        <img src="~/images/motorista_Corridas.jpeg" class="imagem" style="max-width:400px; max-height:300px;" />
    </div>
</div>


<div class="conteudo">
    <div class="texto">
        <p class="destaque">Cadastre suas manutenções:</p>
        <p class="subtitulo">Registre manutenções e abastecimentos de forma prática e precisa. Adeus papel e caneta, tenha tudo na ponta dos dedos. </p>
    </div>
    <div class="imagem-container">
        <img src="~/images/Motorista_manutencao.jpeg" class="imagem" style="max-width:400px; max-height:300px;" />
    </div>
</div>


<div class="conteudo">
    <div class="texto">
        <p class="destaque">Tire Relatórios diarios de suas corridas:</p>
        <p class="subtitulo">Obtenha relatórios diários de suas corridas de forma rápida e eficiente. Simplifique seu processo de registro, diga adeus ao trabalho manual. Tenha todos os dados essenciais ao seu alcance.</p>
    </div>
    <div class="imagem-container">
        <img src="~/images/motors_relatorios.jpeg" class="imagem" style="max-width:400px; max-height:300px;" />
    </div>
</div>
