
@{
    ViewData["Title"] = "Dashboard";
}

<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>

<div id="chart_div" style="width: 900px; height: 500px;"></div>

<script type="text/javascript">

    google.charts.load('current', { packages: ['corechart', 'bar'] });
    google.charts.setOnLoadCallback(CarregaDados);

    function CarregaDados() {

        $.ajax({
            url: '@Url.Action("CorridasVeiculos", "Home")',
            data: {dias: 360},
            dataType: "json",
            type: "GET",
            error: function (xhr, status, error) {
                var err = eval("(" + xhr.responseText + ")");
                toastr.error(err.message);
            },
            success: function (data) {
                DadosVeiculos(data);
                return false;
            }
        });
        return false;
    }
    function DadosVeiculos(data) {
        console.log('Dados recebidos:', data);

        var dataArray = [
            ['Veículo', 'Corridas', 'Manutenções']
        ];
        // Array para armazenar os nomes dos veículos
        var nomesVeiculos = [];

        $.each(data, function (i, item) {
            console.log('Item', i, ':', item);
            console.log('TotalCorridas:', item.totalCorridas);
            console.log('TotalManutencao:', item.totalManutencao);
            dataArray.push([item.veiculoNome, item.totalCorridas, item.totalManutencao]);
            nomesVeiculos.push(item.veiculoNome); // Adiciona o nome do veículo ao array
            console.log('Dados recebidos:', data);
        });
        console.log('dataArray após processamento:', dataArray);

        var data = google.visualization.arrayToDataTable(dataArray);

        var options = {
            title: 'Corridas - Corridas nos últimos 360 dias',
            chartArea: {
                width: '70%'
            },
            colors: ['#5202b5', '#d2a828'],
            hAxis: {
                title: 'Veículo',
                ticks: nomesVeiculos // Define os nomes dos veículos como rótulos no eixo x
            },
            vAxis: {
                title: 'Veículos'
            }
        };

        var chart = new google.visualization.BarChart(document.getElementById('chart_div'));
        chart.draw(data, options);
    }


</script>