@{
    ViewData["Title"] = "Home Page";
}



<div class="text-center">
    <h1 class="display-4">Seja bem vindo!</h1>
    <p>Sistema de boletim de transporte</p>
</div>

<div class="container">
    <h1>Sistema de Boletim de Transporte Digital</h1>

    <p>O nosso sistema inovador permite o gerenciamento eficiente e digital do boletim de transporte, proporcionando facilidade e agilidade tanto para os motoristas quanto para os administradores.</p>

    <h2>Funcionalidades Principais</h2>

    <div class="features">
        <h3>Aplicativo para Motoristas</h3>
        <p>Os motoristas têm acesso a um aplicativo móvel intuitivo, onde podem preencher digitalmente os boletins de transporte, registrando informações sobre viagens, passageiros, veículos e horários.</p>

        <h3>Portal Web para Administradores</h3>
        <p>Os administradores contam com um portal web robusto para gerenciar e monitorar as atividades. Através do portal, é possível visualizar relatórios detalhados sobre motoristas, carros, rotas e horários.</p>

        <h3>Relatórios Detalhados</h3>
        <p>O sistema gera relatórios detalhados que proporcionam insights valiosos sobre o desempenho dos motoristas, a eficiência dos veículos, e a pontualidade nas rotas. Esses relatórios ajudam na tomada de decisões estratégicas.</p>
    </div>
</div>

