@{
    ViewBag.Title = "Políticas de Privacidade";
}

<h1>@ViewBag.Title</h1>

<p>A sua empresa está comprometida em proteger a privacidade dos visitantes do nosso site. Esta política de privacidade descreve como tratamos as informações pessoais que coletamos e recebemos quando você usa este site.</p>

<h2>Coleta e Uso de Informações</h2>
<p>Quando você visita nosso site, podemos coletar e armazenar informações não pessoais sobre sua visita, como o nome de domínio e o tipo de navegador que você está usando. Estas informações são usadas apenas para análise estatística e para melhorar o conteúdo e a funcionalidade do nosso site.</p>

<h2>Divulgação a Terceiros</h2>
<p>Não compartilhamos informações pessoais identificáveis de visitantes do nosso site com terceiros sem o seu consentimento expresso, a menos que seja necessário para cumprir a lei ou proteger os direitos, propriedade ou segurança da nossa empresa, funcionários ou outros.</p>

<h2>Cookies</h2>
<p>Este site pode usar cookies para melhorar a sua experiência de navegação. Você pode optar por desativar os cookies nas configurações do seu navegador, mas isso pode afetar a funcionalidade de algumas partes do site.</p>

<h2>Alterações a esta Política de Privacidade</h2>
<p>Esta política de privacidade está sujeita a alterações sem aviso prévio. Encorajamos os visitantes a revisar esta página regularmente para se manterem informados sobre como estamos protegendo as informações que coletamos. O uso contínuo deste site indica o seu consentimento com esta política de privacidade e quaisquer atualizações.</p>

<p>Se você tiver alguma dúvida sobre esta política de privacidade, entre em contato conosco.</p>
