
body {
    background-color: #fbf3e4;
    max-width: auto;
}




.titulo {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
    text-align: center;
    color: #825435;
}

    .titulo h1 {
        font-size: 6rem;
        margin-bottom: 20px;
        font-weight: bold;
    }

    .titulo p {
        font-size: 2rem;
        margin-top: 0;
        font-weight: bold;
    }






.conteudo {
    display: flex;
    align-items: center;
    padding: 20px;


}

.texto, .imagem-container {
    flex-grow: 1;
    flex-basis: 0;
    box-sizing: border-box;
    padding: 0 10px;  

}

.imagem {
    max-width: 100%; 
    height: auto;
}

.destaque {
    font-size: 2.5rem;
    font-weight: bold;
    margin-bottom: 10px;

}

.subtitulo {
    font-size: 1.2rem;
    margin-bottom: 0;

}
    






.section-funcionalidades {
    padding: 50px 0;
}

.titulo-secao {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 30px;
}

.linha {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}


.cartao-servico {
    width: 250px;
    height: 250px;
    background-color: #e1c7b1;
    margin: 10px;
    border-radius: 10px;
    padding: 20px;
    text-align: center;
    transition: all 0.3s ease;
    overflow: hidden;
    max-height:auto;
}

    .cartao-servico:hover {
        transform: scale(0.9);
    }

    .cartao-servico .icone {
        width: 100px;
        height: 100px;
        margin-bottom: 20px;
    }

    .cartao-servico h6 {
        font-size: 18px;
        font-weight: bold;
        margin-bottom: 10px;
    }

    .cartao-servico p {
        font-size: 14px;
    }







.container-quem-somos {
    padding: 50px 0;
}

.cartao-depoimento {
    display: flex;
    align-items: center;
    padding: 20px;
    border: 2px solid #000;
    border-radius: 20px;
    margin-bottom: 10px;
}


    .cartao-depoimento img {
        width: 40px;
        height: auto;
        border-radius: 50%;
        margin-right: 20px;
    }

.corpo-depoimento h6 {
    font-size: 18px;
    font-weight: bold;
    margin: 0;
}

.corpo-depoimento p {
    font-size: 14px;
    margin-bottom: 10px;
}
