@using SistemaBoletimTransporteDigital.Enums;
@model SistemaBoletimTransporteDigital.Models.UsuarioModel

<aside id="sidebar">
    <div class="d-flex">
        <button class="toggle-btn" type="button">
            <i class="lni lni-menu"></i>
        </button>
        <div class="sidebar-logo">
            <a href="#">SBTD</a>
        </div>
    </div>

    <ul class="sidebar-nav">


        <li class="sidebar-item">
            <a class="sidebar-link " asp-area="" asp-controller="Home" asp-action="Index">
                <i class="fa-solid fa-house" style="margin-right: 14px;"></i>
                <span>Home</span>
            </a>
        </li>


        <li class="sidebar-item">
            @if (Model.Perfil == SistemaBoletimTransporteDigital.Enums.PerfilEnum.Admin)
            {

                <a class="sidebar-link " asp-area="" asp-controller="Veiculo" asp-action="Index">
                    <i class="fa-solid fa-car-side" style="margin-right: 13px;"></i>                
                    <span>Cadastro Veículo</span>
                </a>

            }
        </li>

        <li class="sidebar-item">
            @if (Model.Perfil == SistemaBoletimTransporteDigital.Enums.PerfilEnum.Admin)
            {

                <a class="sidebar-link " asp-area="" asp-controller="Usuario" asp-action="Index">
                    <i class="fa-solid fa-users" style="margin-right: 13px;"></i>
                    <span>Cadastro Usuário</span>
                </a>

            }
        </li>



        <li class="sidebar-item">
            @if (Model.Perfil == SistemaBoletimTransporteDigital.Enums.PerfilEnum.Admin)
            {
                <a href="#" class="sidebar-link collapsed has-dropdown" data-bs-toggle="collapse"
                data-bs-target="#auth" aria-expanded="false" aria-controls="auth">
                    <i class="lni lni-printer"></i>
                    <span>Relatórios</span>
                </a>
                <ul id="auth" class="sidebar-dropdown list-unstyled collapse" data-bs-parent="#sidebar">
                    <li class="sidebar-item">
                        <a class="sidebar-link " asp-area="" asp-controller="BoletimMotorista" asp-action="SelecaoMotorista">
                            <i class="lni lni-users"></i>
                            <span>Por Motorista</span>
                        </a>
                    </li>
                    <li class="sidebar-item">
                        <a class="sidebar-link " asp-area="" asp-controller="BoletimVeiculo" asp-action="SelecaoVeiculo">
                            <i class="lni lni-car-alt"></i>
                            <span>Por Veiculo</span>
                        </a>
                    </li>
                    @* <li class="sidebar-item">
                        <a href="#" class="sidebar-link">Register</a>
                    </li> *@
                </ul>
            }
        </li>


        <li class="sidebar-item">
            @if (Model.Perfil == SistemaBoletimTransporteDigital.Enums.PerfilEnum.motorista)
            {

                <a class="sidebar-link " asp-area="" asp-controller="Corrida" asp-action="Index">
                    <i class="fa-solid fa-car-side" style="margin-right: 13px;"></i>
                    <span>Criar Corrida</span>
                </a>

            }
        </li>

        <li class="sidebar-item">
            @if (Model.Perfil == SistemaBoletimTransporteDigital.Enums.PerfilEnum.motorista)
            {

                <a class="sidebar-link " asp-area="" asp-controller="Manutencao" asp-action="Index">
                    <i class="fa-solid fa-wrench" style="margin-right: 13px;"></i>
                    <span>Manutenções Feitas</span>
                </a>

            }
        </li>

        <li class="sidebar-item">
            @if (Model.Perfil == SistemaBoletimTransporteDigital.Enums.PerfilEnum.motorista)
            {

                <a class="sidebar-link " asp-area="" asp-controller="Boletim" asp-action="Index">
                    <i class="lni lni-printer"></i>
                    <span>Criar Boletim</span>
                </a>
            }
        </li>

        @* <li class="sidebar-item">
            <a href="#" class="sidebar-link collapsed has-dropdown" data-bs-toggle="collapse"
               data-bs-target="#multi" aria-expanded="false" aria-controls="multi">
                <i class="lni lni-layout"></i>
                <span>Multi Level</span>
            </a>
            <ul id="multi" class="sidebar-dropdown list-unstyled collapse" data-bs-parent="#sidebar">
                <li class="sidebar-item">
                    <a href="#" class="sidebar-link collapsed" data-bs-toggle="collapse"
                       data-bs-target="#multi-two" aria-expanded="false" aria-controls="multi-two">
                        Two Links
                    </a>
                    <ul id="multi-two" class="sidebar-dropdown list-unstyled collapse">
                        <li class="sidebar-item">
                            <a href="#" class="sidebar-link">Link 1</a>
                        </li>
                        <li class="sidebar-item">
                            <a href="#" class="sidebar-link">Link 2</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </li> *@
 
    </ul>


    <div class="sidebar-footer">
        <li class="sidebar-item">
            <a class="sidebar-link " asp-area="" asp-controller="Login" asp-action="Sair">
                <i class="lni lni-exit"></i>
                <span>Sair</span>
            </a>
        </li>
    </div>
</aside>





















