@{
    ViewData["Title"] = "Boletim";
}
<div class="container">
    <div class="text-center">
        <h1 class="display-4">Boletim de Transporte Digital</h1>
    </div>
    <br />
    <div class="text-center">
        <h2>Perído de __/__/__ até __/__/__</h2>
    </div>
    <br />
    </div>
    <hr>
    <div class="row">
        <div class="col-md-12">
            <h2>Tabela de Corridas:</h2>
            <table class="table table-dark table-hover">
                <thead>
                    <tr>
                        <th>Motorista</th>
                        <th>Data de Início</th>
                        <th>Data Final</th>
                        <th>Descrição/Serviço executado/local</th>
                        <th>Veículo</th>
                        <th>Km Inicial</th>
                        <th>Km Final</th>
                        <th>Km Percorrido</th>                                      
                    </tr>
                </thead>
                <tbody>
                    <!-- Insira dados das corridas aqui -->
                </tbody>
            </table>
            <p>Total de Corridas: 6</p>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-md-12">
            <h2>Manutenção/Abastecimento:</h2>
            <table class="table table-dark table-hover">
                <thead>
                    <tr>
                        <th>Data Manutenção</th>
                        <th>Código Funcional</th>
                        <th>Km</th>
                        <th>Total de litros</th>
                        <th>Observações</th>                     
                    </tr>
                </thead>
                <tbody>
                    <!-- Insira dados de manutenção/abastecimento aqui -->
                </tbody>
            </table>
            <p>Informações Adicionais: Total de Manutenções: 6</p>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-md-12">
            <h2>Tabela de Veículo:</h2>
            <table class="table table-dark table-hover">
                <thead>
                    <tr>
                        <th>Prefixo</th>
                        <th>Veículo</th>
                        <th>Placa</th>
                    </tr>
                </thead>
                <tbody>
                    <!-- Insira dados do veículo aqui -->
                </tbody>
            </table>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-md-12">
            <h2>Assinatura de Recebimento:</h2>          
                <div class="form-group">
                    <label for="recebimento">Estão sendo entregues todos os discos ou relatórios do tacógrafo do período?</label>                
                        Sim
                        Não                   
                </div>
                <div class="form-group">
                    <label for="dataRecebimento">Data de Recebimento:</label>
                </div>            
        </div>
    </div>
</div>