@using SistemaBoletimTransporteDigital.Enums;
@model ManutencaoModel
@{
    ViewData["Title"] = "Criar Manutenção";
}

<div class="text-center">
    <h1 class="display-4">Criar Manutenção</h1>
</div>
<br />

<style>
    /* Estilo para inputs em caixa alta */
    input.uppercase {
        text-transform: uppercase;
    }

    /* Estilo para inputs em caixa baixa */
    input.lowercase {
        text-transform: lowercase;
    }
</style>

<style>
    .form-control {
        border: 1px solid #5C4033;
    }
</style>

<form asp-controller="Manutencao" asp-action="CriarManutencao" method="post" enctype="multipart/form-data" id="formulario">

    <div class="container">
        <div class="row">

            <div class="col-lg-6 col-md-6 col-sm-12">
                <label for="DescricaoManutencao">Descrição da Manutenção:</label>
                <input type="text" asp-for="DescricaoManutencao" class="form-control uppercase" maxlength="50" oninput="this.value = this.value.toUpperCase()">
                @Html.ValidationMessageFor(x => x.DescricaoManutencao)
            </div>

            <div class="col-lg-3 col-md-6 col-sm-12">
                <label for="TipoManutencao">Tipo de Manutenção:</label>
                <select asp-for="TipoManutencao" class="form-control">
                    <option value="">Selecione</option>
                    @foreach (var tipo in Enum.GetValues(typeof(SistemaBoletimTransporteDigital.Enums.ManutencaoEnum)))
                    {
                        <option value="@tipo">@tipo</option>
                    }
                </select>
                @Html.ValidationMessageFor(x => x.TipoManutencao)
            </div>
        </div>
    </div>

    <br />

    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-3 col-sm-3">
                <label for="Imagem">Foto comprovante ou arquivo em PDF:</label>                         
                    <div class="row">
                        <div class="col-3">
                            <br />
                            <input type="file" name="Imagem" id="Imagem" class="form-control-file" />
                        </div>
                    </div>                     
                <span class="text-danger" id="arquivoVazioError" style="display: none;">Por favor, selecione um arquivo.</span>
                <span class="text-danger" id="arquivoInvalidoError" style="display: none;">Por favor, selecione um arquivo válido (imagem ou PDF).</span>
            </div>
        </div>
    </div>
    
    <br />

    <div class="container">
        <div class="row">
            <div class="col-lg-9 col-md-9 col-sm-12" style="display:flex; justify-content: space-between;">
                <button type="submit" class="btn btn-success">Adicionar Manutenção</button>
                <a class="btn btn-secondary" asp-controller="Corrida" asp-action="Index">Voltar</a>
            </div>
        </div>
    </div>
    
</form>

<script>
    // Função para validar se um arquivo foi selecionado e se é uma imagem ou PDF
    function validarArquivo() {
        var inputFile = document.getElementById("Imagem");
        var file = inputFile.files[0];
        var allowedTypes = ['image/jpeg', 'image/png', 'image/gif', 'application/pdf'];

        // Verifica se o campo de arquivo está vazio
        if (!file) {
            document.getElementById("arquivoVazioError").style.display = "block";
            document.getElementById("arquivoInvalidoError").style.display = "none";
            return false;
        } else if (allowedTypes.indexOf(file.type) === -1) {
            // Se o tipo do arquivo não estiver na lista permitida, exibe a mensagem de arquivo inválido
            document.getElementById("arquivoVazioError").style.display = "none";
            document.getElementById("arquivoInvalidoError").style.display = "block";
            inputFile.value = ''; // Limpa o valor do input para evitar o envio do arquivo inválido
            return false;
        } else {
            // Se o arquivo for válido, esconde ambas as mensagens de erro
            document.getElementById("arquivoVazioError").style.display = "none";
            document.getElementById("arquivoInvalidoError").style.display = "none";
            return true;
        }
    }

    // Event listener para o formulário
    document.getElementById("formulario").addEventListener("submit", function (event) {
        if (!validarArquivo()) {
            // Se a função validarArquivo retornar false, cancela o envio do formulário
            event.preventDefault();
        }
    });
</script>


