@{
    ViewData["Title"] = "Iniciando Corrida";
}
@model CorridaModel

<div class="text-center">
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />

    <h3>Deseja realmente iniciar a corrida?</h3>

    <br />

    <a class="btn btn-danger" role="button" asp-controller="Corrida" asp-action="Index">Cancelar</a>
    <a class="btn btn-primary" role="button" asp-controller="Corrida" asp-action="CriarCorrida" asp-route-id="@Model.Id">Confirmar</a>
</div>

