@using SistemaBoletimTransporteDigital.Enums;
@model CorridaModel
@{
    ViewData["Title"] = "Finalizar Corrida";
}


<div class="text-center">

    <h1 class="display-4">Finalizar a corrida</h1>
    <br />

</div>

<form id="finalizarCorridaForm" asp-controller="Corrida" asp-action="FinalizarCorrida" method="post">
    <input type="hidden" asp-for="Id" />

    <div class="row">
        <div class="col-4">
            <label for="KmFinal">KM do Veículo:</label>
            <input type="text" id="KmFinal" name="KmFinal" class="form-control" placeholder="Exemplo: 4543235..." required>
            <div class="invalid-feedback">A quilometragem final deve ser maior que a quilometragem inicial.</div>
        </div>

        <div class="col-4">
            <label for="LocalChegadaCorrida">Local de Chegada:</label>
            <input type="text" id="LocalChegadaCorrida" name="LocalChegadaCorrida" class="form-control" placeholder="Exemplo: Cerejeiras Atibaia" required>
            <div class="invalid-feedback">Por favor, preencha o campo Local de Chegada.</div>
        </div>
    </div>

    <br />

    <button type="submit" class="btn btn-warning">Finalizar</button>
    <a class="btn btn-secondary" asp-controller="Corrida" asp-action="Index" role="button">Voltar</a>
</form>

<script>
    document.getElementById('finalizarCorridaForm').addEventListener('submit', function(event) {
        var kmFinal = document.getElementById('KmFinal').value;
        var localChegada = document.getElementById('LocalChegadaCorrida').value;

        if (!kmFinal || !localChegada) {
            event.preventDefault(); // Impede o envio do formulário se algum campo estiver vazio
            event.stopPropagation(); // Evita a propagação do evento de envio
            if (!kmFinal) {
                document.getElementById('KmFinal').classList.add('is-invalid');
            }
            if (!localChegada) {
                document.getElementById('LocalChegadaCorrida').classList.add('is-invalid');
            }
        }
    });

    document.getElementById('finalizarCorridaForm').addEventListener('submit', function (event) {
        var kmInicial = @Model.KmInicial;
        var kmFinal = parseInt(document.getElementById('KmFinal').value);

        if (kmFinal <= kmInicial) {
            event.preventDefault(); // Impede o envio do formulário se a quilometragem final for menor ou igual à inicial
            event.stopPropagation(); // Evita a propagação do evento de envio
            document.getElementById('KmFinal').classList.add('is-invalid');
            // alert('A quilometragem final deve ser maior que a quilometragem inicial.');
        }
    });
</script>




