@using SistemaBoletimTransporteDigital.Enums;
@model CorridaModel
@{
    ViewData["Title"] = "Finalizar a Corrida";
}


<div class="text-center">
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />

    <h3>Deseja Finalizar a Corrida?</h3>

    <br />

    <a class="btn btn-danger" role="button" asp-controller="Corrida" asp-action="Index">Cancelar</a>
    <a class="btn btn-primary" role="button" asp-controller="Corrida" asp-action="FinalizarCorrida" asp-route-id="@Model.Id">Confirmar</a>
</div>




