@using SistemaBoletimTransporteDigital.Enums;
@model VeiculoModel
@{
    ViewData["Title"] = "Finalizar a Corrida";
}


<div class="text-center">

    <h1 class="display-4">Corrida</h1>
    <br />

</div>

<form asp-controller="Corrida" asp-action="FinalizarCorrida" method="post">

    <input type="hidden" asp-for="Id" />


    <div class="col-3">
        <label for="quilometragem">Quilometragem:</label>
        <input type="text" asp-for="Quilometragem" class="form-control" placeholder="Exemplo: 514326">
        @Html.ValidationMessageFor(x => x.Quilometragem)
    </div>
   

    <br />

    <button type="submit" class="btn btn-warning">Finalizar a corrida</button>
    <a class="btn btn-secondary" asp-controller="Corrida" asp-action="Index" role="button">Voltar</a>
</form>



